@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
html {
    min-height: 100%;
}
body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));;
    margin: 0px;
}

/* colours */
.dark-blue-font-color {
    color: hsl(238, 29%, 16%);
}
.soft-red-font-color {
    color: hsl(14, 88%, 65%);
}
.light-grayish-blue-color {
    color: hsl(240, 5%, 91%)
}

.black-border {
    border: 1px solid black;
}
/* main components */
main {
    width: 100vw;
    height: 100vh;
}
.accordion {
    background-color: white;
    border-radius: 20px;
    height: 70vh;
    width: 88vw;
    margin: 19vh 6vw 11vh 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* TODO: make it closer to the original shadow */
    box-shadow: 0px 40px 50px -30px hsl(240, 25%, 37%);
}
.accordion > picture {
    position: fixed;
}
.accordion picture:first-child {
    transform: translateY(-55%);
    margin-left: -20px;
}
header {
    font-weight: 700;
    font-size: 22pt;
    margin-top: 140px;
    margin-bottom: 40px;
}
.frequently-asked-qns {
    position: relative;
    text-align: left;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 85%;
}
.question {
    font-size: 10pt;
    height: 4em;
    width: 100%;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.question:hover {
    color:hsl(14, 88%, 65%)
}
@keyframes rotateIcon {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(180deg);}
}
.question[bold=true] {
    font-weight: 700;
    color:hsl(238, 29%, 16%);
}
.question[bold=true] > img{
    animation-name: rotateIcon;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;  
}
.question[bold=true] + .answer {
    display: block;
}
.answer {
    display: none;
    border-top: none;
    font-size: 9pt;
    padding-top: 1em;
    color: hsl(240, 6%, 50%);
    width: 100%;
}

@media only screen and (min-width: 1440px){
    .accordion {
        height: 60vh;
        width: 68vw;
        margin: 18vh 16vw 22vh 16vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
    }
    .accordion picture:first-child {
        position: relative;
        left: 0;
        transform: translateX(-10%);
        margin-left: 0px;
        overflow: hidden;
    }
    .accordion picture:nth-child(2) {
        position: fixed;
        transform: translate(-56%, -10%);
        overflow: hidden;
    }
    .frequently-asked-qns {
        width: 50%;
        align-items: flex-start;
    }
    header {
        width: 100%;
        margin-top: 80px;
        margin-bottom: 30px;
    }
    .question, .answer {
        width: 70%;
    }
    .question {
        height: 3.5em;
    }
    .answer {
        line-height: 1.5;
    }
}